<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test name="DataSetup">
		<classes>
			<class name="tests.e2e.DataSetup" />
		</classes>
	</test>
	<test name="DeleteData">
		<classes>
			<class name="tests.e2e.DeleteData" />
		</classes>
	</test>

</suite> <!-- Suite -->
